/****************
 *  Base Colors *
 ****************/
 $color-black : #000000;
 $color-white : #fff;
 
 /*******************
  *  Color Gray *
  *******************/
 $gray-dark : #2a2a2a;
 $gray : #afafaf;
 $gray-light :#eee;
 $gray-lighter : #f7f7f7;
 
 /*******************
  *  Color Blue *
  *******************/
  $blue : #4da6e7;
  $blue-1 : #005fac;
  $blue-2 : #092939;
 
  /*******************
  *  Color Random *
  *******************/
  $orange : #e26018;
  $pink : #f49daf;
  $blue-cyan : #12b7b1;
  $pink : #f0ba55;



 
 /*********************
  *  Gradients Colors *
  *********************/
 