/* ------------------------------------
  Font-weight
 ------------------------------------ */
 $extra-light: 200;
 $light: 300;
 $regular: 400;
 $medium: 500;
 $semi-bold: 600;
 $bold: 700;
 $extra-bold: 800;
 $very-extra-bold: 900;
 
 /* ------------------------------------
    Font-styles
   ------------------------------------ */
 $font-style-normal: normal;
 $font-style-italic: italic;
 /* ------------------------------------
    letter-spacing
   ------------------------------------ */
 
 $letter-spacing-0: 0;
 $letter-spacing-01: 0.1px;
 $letter-spacing-05: 0.5px;
 
 /* ------------------------------------
    Desktop Font sizes
   ------------------------------------ */
 $font-size-small-12 :12px;
 $font-size-small-13 :13px;
 $font-size-small-14 :14px;

 $font-size-default-15 :15px;
 $font-size-default-16 :16px;
 $font-size-default-18 :18px;
 $font-size-default-20 :20px; 
 $font-size-default-25 :25px;

 $font-size-medium-28 :28px; 
 $font-size-medium-30 :30px; 
 $font-size-medium-35 :35px;
 $font-size-medium-40 :40px;  

 $font-size-large-45 :45px;
 $font-size-large-50 :50px; 
 $font-size-large-60 :60px; 
 $font-size-large-64 :64px; 
 $font-size-large-100 :100px; 
 
 
 /* ------------------------------------
   Desktop Line Heights
   ------------------------------------ */
 $line-height-small-14 :14px;
 $line-height-small-16 :16px;
 $line-height-small-18 :18px;
 
 $line-height-default-20: 20px;
 $line-height-default-25: 25px;
 $line-height-default-28 :28px;
 $line-height-medium-30: 30px;

 $line-height-medium-32: 32px;
 $line-height-medium-35 :35px;
 $line-height-medium-40 :40px;
 $line-height-medium-45 :45px;

 $line-height-large-48 : 48px;
 $line-height-large-55 : 55px;
 $line-height-large-60 : 60px;
 $line-height-large-74 : 74px;
 $line-height-large-100 : 100px;
 
 /* ------------------------------------
  Mobile Font sizes
  ------------------------------------ */

 $font-size-small-mobile-10: 10px;
 $font-size-small-mobile-12: 12px;
 $font-size-small-mobile-13: 13px;
 $font-size-small-mobile-14: 14px;

 $font-size-default-mobile-15: 15px;
 $font-size-default-mobile-16: 16px;
 $font-size-default-mobile-18: 18px;
 $font-size-default-mobile-20: 20px;

 $font-size-medium-mobile-22: 22px;
 $font-size-medium-mobile-25: 25px;
 $font-size-medium-mobile-26: 26px;
 $font-size-medium-mobile-28: 28px;

 $font-size-large-mobile-30: 30px;
 $font-size-large-mobile-32: 32px;
 $font-size-large-mobile-35: 35px;
 $font-size-large-mobile-38: 38px;
 $font-size-large-mobile-40: 40px;
 /* ------------------------------------
  Mobile Line Heights
  ------------------------------------ */
 
 $line-height-small-mobile-12: 12px;
 $line-height-small-mobile-14: 14px;
 $line-height-small-mobile-16: 16px;
 
 $line-height-default-mobile-18: 18px;
 $line-height-default-mobile-20: 20px;
 $line-height-default-mobile-22: 22px;
 $line-height-medium-mobile-24:  24px;

 $line-height-medium-mobile-25: 25px;
 $line-height-medium-mobile-28: 28px;
 $line-height-large-mobile-30: 30px;
 $line-height-large-mobile-35: 35px;

 $line-height-large-mobile-38: 38px;
 $line-height-large-mobile-40: 40px;
 $line-height-large-mobile-42: 42px;
 $line-height-large-mobile-45: 45px;
 
 /* ------------------------------------
   Base Variables
   ------------------------------------ */
  $font-family-source: 'Poppins';
  $font-family-base: $font-family-source;
