/* ------------------------------------
  Font-weight
 ------------------------------------ */
 $extra-light: 200;
 $light: 300;
 $regular: 400;
 $medium: 500;
 $semi-bold: 600;
 $bold: 700;
 $extra-bold: 800;
 $very-extra-bold: 900;
 
 /* ------------------------------------
    Font-styles
   ------------------------------------ */
 $font-style-normal: normal;
 $font-style-italic: italic;
 /* ------------------------------------
    letter-spacing
   ------------------------------------ */
 
 $letter-spacing-normal: 0;
 $letter-spacing-small: 0.1px;
 $letter-spacing-medium: 0.5px;
 
 /* ------------------------------------
    Desktop Font sizes
   ------------------------------------ */
 $font-size-small-1 :12px;
 $font-size-small-0 :13px;
 
 $font-size-default-1 :14px;
 $font-size-default-0 :15px;
 
 $font-size-medium-4 :18px; //h6
 $font-size-medium-3 :20px; 
 $font-size-medium-2 :25px; //h5
 $font-size-medium-1 :30px; 
 $font-size-medium-0 :35px;//h4
 
 $font-size-large-0 :40px;  //h3
 $font-size-large-1 :45px;//h2
 $font-size-large-2 :50px; 
 $font-size-large-3 :60px; //h1
 $font-size-large-4 :100px; //big-title
 
 
 /* ------------------------------------
   Desktop Line Heights
   ------------------------------------ */
 $line-height-small-1 :18px;
 $line-height-small-0 :20px;
 
 $line-height-default-1: 25px;
 $line-height-default-0: 30px;

 $line-height-medium-4 :32px;
 $line-height-medium-3: 35px;
 $line-height-medium-2: 38px;
 $line-height-medium-1 :40px;
 $line-height-medium-0 :42px;
 
 $line-height-large-0 : 45px;
 $line-height-large-1 : 50px;
 $line-height-large-2 : 55px;
 $line-height-large-3 : 60px;
 $line-height-large-4 : 100px;
 
 /* ------------------------------------
  Mobile Font sizes
  ------------------------------------ */
 $font-size-small-mobile-1: 9px;
 $font-size-small-mobile-0: 10px;

 $font-size-default-mobile-1: 13px;
 $font-size-default-mobile-0: 14px;
 
 $font-size-medium-mobile-1: 15px;
 $font-size-medium-mobile-0: 17px;
 
 $font-size-large-mobile-0: 18px;
 $font-size-large-mobile-1: 20px;
 $font-size-large-mobile-2: 26px;
 $font-size-large-mobile-3: 32px;
 $font-size-large-mobile-4: 45px;
 /* ------------------------------------
  Mobile Line Heights
  ------------------------------------ */
 
 $line-height-small-mobile-1: 13px;
 $line-height-small-mobile-0: 14px;
 
 $line-height-default-mobile-1: 18px;
 $line-height-default-mobile-0: 20px;
 
 $line-height-medium-mobile-1:  22px;
 $line-height-medium-mobile-0: 26px;
 

 $line-height-large-mobile-0: 38px;
 $line-height-large-mobile-1: 40px;
 $line-height-large-mobile-2: 45px;
 $line-height-large-mobile-3: 48px;
 $line-height-large-mobile-4: 56px;
 
 /* ------------------------------------
   Base Variables
   ------------------------------------ */
  $font-family-source: 'Poppins';
  $font-family-base: $font-family-source;
