/* Bootstrap variables */
$grid-columns: 12;
$grid-gutter-width: 20px;
$grid-gutter-width-mobile: 20px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
     
        xs: 320px,
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$spacer: 1px;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
@for $i from 0 through 100 {
  $spacers: map-merge(
                  (
                          $i: ($spacer * $i),
                  ),
                  $spacers
  );
}
