.ce-headline{
    padding: 20px 0 0; 
    @include media-breakpoint-up(md){
        padding:40px 0 0; 
    }
    .subline{
        margin-bottom: 5px;
        @include media-breakpoint-up(md){
            margin-bottom: 10px;
        }
    }
    .headline{
        margin-bottom: 5px;
        @include media-breakpoint-up(md){
            margin-bottom: 10px;
        }
    }
    .text{
        padding-bottom: 10px;
        @include media-breakpoint-up(md){
            padding-bottom: 20px;
        }
    }
}