.ce-home{
    padding: 40px 0;
    @include media-breakpoint-up(md){
        padding: 20px 0;
    }
    .row-home{
        z-index: 2;
        flex-direction: column-reverse;
        align-items: center;
        @include media-breakpoint-up(xs){
            flex-direction: row;
        }
    }
    .teaser-info{
        padding: 0;
        @include media-breakpoint-up(md){
            padding: 40px 0;
        }
        .subline{
            margin-bottom: 10px;
            @include media-breakpoint-up(md){
                margin-bottom: 20px;
            }
        }
        .headlineBig{
            margin-bottom: 10px;
            @include media-breakpoint-up(md){
                margin-bottom: 20px;
            }
        }
        .text{
            margin-bottom: 20px;
            @include media-breakpoint-up(md){
                margin-bottom: 40px;
            }
        }
    }
    .teaser-image{
        padding: 0 0 20px;

        @include media-breakpoint-up(md){
            padding: 0;
        }
        figure{
            // mask-image: url("../Img/ImageShape.svg");
            // mask-repeat: no-repeat;
            // mask-position: center;
            // mask-size: contain;
            // overflow: hidden;
            img {
                width:100%;
                object-fit: contain;
                max-height: 318px;
                height: 100%;
                @include media-breakpoint-up(md){
                    max-height: 450px;
                   
                }
            }

        }
    }
}