<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JK</title>
    <link rel="icon" type="image/x-icon" href="../src/images/logo.svg">
    <link rel="stylesheet" href="../dist/css/main.css">
    <script src="../dist/js/main.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo">
                            <img src="../src/images/logo.svg" alt="logo" title="logo" /> 
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <ul>
                            <li><a href="#home"> home</a></li>
                            <li><a href="#services"> services</a></li>
                            <li><a href="#about">about</a></li>
                            <li><a href="#portfolio">portfolio</a></li>
                            <li><a href="#skills">skills</a></li>
                            <li><a href="#blog">blog</a></li>
                            <li><a href="#contact">contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="home" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1> I am kawthar jmaiel</h1>
                        <p>i'm kawthar, professional web developer with long time experience in this field​</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#portfolio">My Portfolio </a></li>
                            <li class="list-inline-item">
                                <iframe width="350" height="200" src="https://www.youtube.com/embed/jWps_fnEkU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <a class="play-btn popup-video" href="https://www.youtube.com/watch?time_continue=33&amp;v=W-j4QGAgNu8"><i class="fa fa-play"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img src="../src/images/Profile-Photo-Wallpaper.jpg" alt="profile" title="profile"/> 
                    </div>
                </div>
            </div>
        </section>
        <section class="services" id="services">
            <div class="container">
                <div class="introduction">
                    <p>SERVICES</p>
                    <h1>My Services</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="icon">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </div>
                        <h2>Web Development</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing typesetting industry. simply dummy
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="icon">
                            <i class="fa fa-codepen" aria-hidden="true"></i>
                        </div>
                        <h2>Web Design</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing typesetting industry. simply dummy
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="icon">
                            <i class="fa fa-file-video-o" aria-hidden="true"></i>
                        </div>
                        <h2>Video Editing</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing typesetting industry. simply dummy
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="icon">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </div>
                        <h2>Photography</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing typesetting industry. simply dummy
                        </p>
                    </div>
                    <div class="col-md-4"><div class="icon">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                    </div>
                    <h2>App Developing</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing typesetting industry. simply dummy
                    </p></div>
                    <div class="col-md-4">
                        <div class="icon">
                        <i class="fa fa-yoast" aria-hidden="true"></i>
                    </div>
                    <h2>SEO Expart</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing typesetting industry. simply dummy
                    </p></div>
                </div>
            </div>
        </section>
        <section class="about" id="about">
            <div class="container">
                <div class="introduction">
                    <h1>About Me</h1>
                    <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <img src="../src/images/Profile-Photo-Wallpaper.jpg" alt="profile" title="profile"/> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Hi There</h2>
                        <p>
                            In id nulla magna. Nullam posuere fermentum mattis. Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis, urna est ultricies eros, ac porta sem turpis
                        </p>
                        <p>
                            nunc id efficitur sagittis, urna est ultricies eros, ac porta sem turpis porta sem turpis quis leo. Nulla in feugiat elit
                        </p>
                        <table>
                            <tr>
                                <th>
                                    Name:
                                </th>
                                <th>
                                    Phone:
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    kawthar jmaiel
                                </td>
                                <td>
                                    +1 023 454 345
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th>
                                    Email:
                                </th>
                                <th>
                                    LinkedIn:
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    example@domain.com
                                </td>
                                <td>
                                    Jonathan_123
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio" id="portfolio">
            <div class="container">
                <div class="introduction">
                    <h1>Portfolio Showcase</h1>
                    <p>We’re a WordPress Theme Development company . With more than ten years of knowledge and expertise.</p>
                </div>
                <div class="row">


                </div>
            </div>
        </section>
        <section class="skills" id="skills">
            <div class="container">
                <div class="introduction">
                    <div class="subtitle">I'M EXPERT ON</div>
                    <h1>Let's Work Together</h1>
                    <p>Phasellus accumsan scelerisque dolor, quis mattis justo bibendum non. Nulla sollicitudin turpis in enim elementum varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                    <div class="link">
                        <a href="#contact">hire me now</a>
                    </div>
                </div>
                <div class="row">
                    <div class="portfolio-filter">
                        <ul class="list-inline">
                        <li class="select-cat list-inline-item active" data-filter="*">All Works</li>
                        <li class="list-inline-item" data-filter=".art-direction">Art Direction</li>
                        <li class="list-inline-item" data-filter=".branding">Branding</li>
                        <li class="list-inline-item" data-filter=".design">Design</li>
                        <li class="list-inline-item" data-filter=".web">Web</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <div class="isotope_items row" style="position: relative; height: 1115.03px;">
                        
                        <a href="https://themebing.com/wp/amike/wp-content/uploads/2018/10/jeremy-perkins-UgNjyPkphtU-unsplash.jpg" class="col-md-4 col-sm-4 col-xs-6 single_item art-direction" data-source="https://themebing.com/wp/amike/wp-content/uploads/2018/10/jeremy-perkins-UgNjyPkphtU-unsplash.jpg" title="Rock" style="position: absolute; left: 0px; top: 0px;">
                        <img src="https://themebing.com/wp/amike/wp-content/uploads/2018/10/jeremy-perkins-UgNjyPkphtU-unsplash.jpg" alt="Rock">
                        <div class="single_item_content">
                        <span>Art Direction</span>
                        <h6>Rock</h6> </div>
                        </a>
                        
                        <a href="https://themebing.com/wp/amike/wp-content/uploads/2019/11/florian-klauer-mk7D-4UCfmg-unsplash.jpg" class="col-md-4 col-sm-4 col-xs-6 single_item branding" data-source="https://themebing.com/wp/amike/wp-content/uploads/2019/11/florian-klauer-mk7D-4UCfmg-unsplash.jpg" title="In Time" style="position: absolute; left: 376.656px; top: 0px;">
                        <img src="https://themebing.com/wp/amike/wp-content/uploads/2019/11/florian-klauer-mk7D-4UCfmg-unsplash.jpg" alt="In Time">
                        <div class="single_item_content">
                        <span>Branding</span>
                        <h6>In Time</h6> </div>
                        </a>
                        
                        <a href="https://themebing.com/wp/amike/wp-content/uploads/2018/10/oliver-pecker-HONJP8DyiSM-unsplash.jpg" class="col-md-4 col-sm-4 col-xs-6 single_item design" data-source="https://themebing.com/wp/amike/wp-content/uploads/2018/10/oliver-pecker-HONJP8DyiSM-unsplash.jpg" title="Mockup" style="position: absolute; left: 753.312px; top: 0px;">
                        <img src="https://themebing.com/wp/amike/wp-content/uploads/2018/10/oliver-pecker-HONJP8DyiSM-unsplash.jpg" alt="Mockup">
                        <div class="single_item_content">
                        <span>Design</span>
                        <h6>Mockup</h6> </div>
                        </a>
                        
                        <a href="https://themebing.com/wp/amike/wp-content/uploads/2018/10/colin-carter-w1g2o4J_4Dg-unsplash.jpg" class="col-md-4 col-sm-4 col-xs-6 single_item web" data-source="https://themebing.com/wp/amike/wp-content/uploads/2018/10/colin-carter-w1g2o4J_4Dg-unsplash.jpg" title="Treasure" style="position: absolute; left: 0px; top: 348.719px;">
                        <img src="https://themebing.com/wp/amike/wp-content/uploads/2018/10/colin-carter-w1g2o4J_4Dg-unsplash.jpg" alt="Treasure">
                        <div class="single_item_content">
                        <span>Web</span>
                        <h6>Treasure</h6> </div>
                        </a>
                        
                        <a href="https://themebing.com/wp/amike/wp-content/uploads/2018/10/mukul-wadhwa-xpo5BggQo3E-unsplash.jpg" class="col-md-4 col-sm-4 col-xs-6 single_item art-direction" data-source="https://themebing.com/wp/amike/wp-content/uploads/2018/10/mukul-wadhwa-xpo5BggQo3E-unsplash.jpg" title="Daily Note" style="position: absolute; left: 753.312px; top: 376.656px;">
                        <img src="https://themebing.com/wp/amike/wp-content/uploads/2018/10/mukul-wadhwa-xpo5BggQo3E-unsplash.jpg" alt="Daily Note">
                        <div class="single_item_content">
                        <span>Art Direction</span>
                        <h6>Daily Note</h6> </div>
                        </a>
                        
                        <a href="https://themebing.com/wp/amike/wp-content/uploads/2018/10/nagy-arnold-X_IvVDuHvDQ-unsplash.jpg" class="col-md-4 col-sm-4 col-xs-6 single_item branding" data-source="https://themebing.com/wp/amike/wp-content/uploads/2018/10/nagy-arnold-X_IvVDuHvDQ-unsplash.jpg" title="Handcraft" style="position: absolute; left: 376.656px; top: 538.422px;">
                        <img src="https://themebing.com/wp/amike/wp-content/uploads/2018/10/nagy-arnold-X_IvVDuHvDQ-unsplash.jpg" alt="Handcraft">
                        <div class="single_item_content">
                        <span>Branding</span>
                        <h6>Handcraft</h6> </div>
                        </a>
                        
                        <a href="https://themebing.com/wp/amike/wp-content/uploads/2019/11/kui-ye-chen-NuOGFo4PudE-unsplash.jpg" class="col-md-4 col-sm-4 col-xs-6 single_item design" data-source="https://themebing.com/wp/amike/wp-content/uploads/2019/11/kui-ye-chen-NuOGFo4PudE-unsplash.jpg" title="Pencil" style="position: absolute; left: 0px; top: 573.703px;">
                        <img src="https://themebing.com/wp/amike/wp-content/uploads/2019/11/kui-ye-chen-NuOGFo4PudE-unsplash.jpg" alt="Pencil">
                        <div class="single_item_content">
                        <span>Design</span>
                        <h6>Pencil</h6> </div>
                        </a>
                        
                        <a href="https://themebing.com/wp/amike/wp-content/uploads/2019/11/julian-o-hayon-HY3l4IeOc3E-unsplash.jpg" class="col-md-4 col-sm-4 col-xs-6 single_item web" data-source="https://themebing.com/wp/amike/wp-content/uploads/2019/11/julian-o-hayon-HY3l4IeOc3E-unsplash.jpg" title="Focus" style="position: absolute; left: 753.312px; top: 868.375px;">
                        <img src="https://themebing.com/wp/amike/wp-content/uploads/2019/11/julian-o-hayon-HY3l4IeOc3E-unsplash.jpg" alt="Focus">
                        <div class="single_item_content">
                        <span>Web</span>
                        <h6>Focus</h6> </div>
                        </a>
                        </div>
                        </div>
                </div>
            </div>
        </section>
        <section class="blog" id="blog">
            <div class="container">
                <div class="introduction">
                    <div class="subtitle">LATEST POST</div>
                    <h1>Latest blog</h1>
                    <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="image">
                            <img src="../src/images/web-development-blogs-hero-header.png" alt="blog" title="blog"/> 
                        </div>
                        <div class="info">
                            <div class="date">27/02/2022</div>
                            <div class="text">lorem Ipsum is simply dummy text of the printing</div>
                            <div class="link">
                                <a href="#">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image">
                            <img src="../src/images/web-development-blogs-hero-header.png" alt="blog" title="blog"/> 
                        </div>
                        <div class="info">
                            <div class="date">27/02/2022</div>
                            <div class="text">lorem Ipsum is simply dummy text of the printing</div>
                            <div class="link">
                                <a href="#">read more</a>
                            </div>
                        </div>                    </div>
                    <div class="col-md-4">
                        <div class="image">
                            <img src="../src/images/web-development-blogs-hero-header.png" alt="blog" title="blog"/> 
                        </div>
                        <div class="info">
                            <div class="date">27/02/2022</div>
                            <div class="text">lorem Ipsum is simply dummy text of the printing</div>
                            <div class="link">
                                <a href="#">read more</a>
                            </div>
                        </div>                    </div>
                </div>
            </div>
        </section>
        <section class="contact" id="contact">
            <div class="container">
                <div class="introduction">
                    <div class="subtitle">HAVE ANY QUERY?</div>
                    <h1>Contact Me</h1>
                    <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="icon"></div>
                        <h3> locate us </h3>
                        <p>lorem Ipsum is simply dummy text</p>
                    </div>
                    <div class="col-md-4">
                        <div class="icon"></div>
                        <h3>give us call</h3>
                        <p>lorem Ipsum is simply dummy text</p>
                    </div>
                    <div class="col-md-4">
                        <div class="icon"></div>
                        <h3>get in online</h3>
                        <p>lorem Ipsum is simply dummy text</p>
                    </div>

                </div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="your name" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" placeholder="your Email" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group ">
                            <input type="text" placeholder="your subject" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group ">
                            <textarea type="text" placeholder="your message" >
                            </textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group ">
                            <input type="submit" value="send message" />
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="image">
                    <img src="../src/images/slogan.jpg" alt="slogan logo" title="slogan logo" /> 
                </div>
                <div class="text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci- didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe- rcitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="social-media">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"> 
                                <i class="fa fa-facebook">facebook</i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/?lang=fr" target="_blank"> 
                                <i class="fa fa-twitter">twitter</i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank"> 
                                <i class="fa fa-instagram">instagram</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="Copyright">Copyright © 2020 <span>Ami.Ke</span>  All Rights Reserved by ThemeBing.</div>
            </div>
        </div>
    </footer>
</body>
</html>