// style for buttons
button{
    width:fit-content;
    border: none;
}
a,
button {
    cursor: pointer;
    text-transform: capitalize;
     // 20 /25 /400 16/20
    font-size:  $font-size-default-mobile-16;
    line-height:  $line-height-default-mobile-20;
    @include media-breakpoint-up(md) {
        font-size:  $font-size-default-20;
        line-height: $line-height-medium-mobile-25;
    }
    &.primary-button {
        padding: 12px 30px;
        font-weight: $bold;
        background: $gradiant-pink;
        border-radius: 5px;
        color: $color-white;
        &:hover {
            text-decoration: none;
            background-color: $pink-1;
        }
    }
    &.secondary-button {
        padding: 5px 20px;
        width:fit-content;
        color: $orange-light;
        border:1px solid   $orange-light ;
        background-color:  transparent;
        border-radius: 5px;
        text-align: center;
        &:hover {
            text-decoration: none;
            color:  $orange;
            border-color:  $orange;
        }
    }
}
.a-flex{
    display: flex;
}
// style for links
a{
    &.link{
    color: $gray-2a;
        &:hover, &.active{
            color: $blue;
        }
   }
}

