/* ------------------------------------
HEADLINES
------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $font-family-source;
    text-transform: capitalize;
    font-weight: $font-weight-bold;
    color: $gray-dark;
}

h1 {
    //60/60/700 &   32/48
    font-size: $font-size-large-mobile-3;
    line-height: $line-height-large-mobile-3;
    @include media-breakpoint-up(md) {
        font-size:  $font-size-large-3 ;
        line-height: $line-height-large-3;
    }
}

h2 {
    //45/50/700 & 26/45
    font-size:$font-size-large-mobile-2;
    line-height: $line-height-large-mobile-2;
    @include media-breakpoint-up(md) {
        font-size:$font-size-large-1 ;
        line-height:$line-height-large-1;
    }
}

h3 {
   //  40/45/700 & 18/38
   font-size:$font-size-large-mobile-0;
   line-height: $line-height-large-mobile-0;
   @include media-breakpoint-up(md) {
       font-size:$font-size-large-0 ;
       line-height:$line-height-large-0;
   }

}

h4 {
        //  35/42/700 & 17/26
    font-size:$font-size-medium-mobile-0;
    line-height:$line-height-medium-mobile-0;
    @include media-breakpoint-up(md) {
        font-size: $font-size-medium-0;
        line-height: $line-height-medium-0;
    }
}
h5 {
    //  25/38/700 & 15/22
    font-size:$font-size-medium-mobile-1;
    line-height:$line-height-medium-mobile-1;
    @include media-breakpoint-up(md) {
        font-size: $font-size-medium-2;
        line-height: $line-height-medium-2;
    }
}
h6 {
    //  18/32/700 & 14/20
    font-size:  $font-size-default-mobile-0;
    line-height:  $line-height-default-mobile-0;
    @include media-breakpoint-up(md) {
        font-size: $font-size-medium-4;
        line-height: $line-height-medium-4;
    }
}