/* ------------------------------------
LISTS
------------------------------------ */
ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li{
         // 20 /25 /400 16/20
       font-family: $font-family-source;
       text-transform: capitalize;
       color: $gray-111;
       font-size:  $font-size-default-mobile-16;
       line-height:  $line-height-default-mobile-20;
       @include media-breakpoint-up(md) {
           font-size:  $font-size-default-20;
           line-height: $line-height-medium-mobile-25;
       }
    }
}