.banner-shapes{
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        background-image: url("../../../src/images/banners/baner-dec-right.png");
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 100px;
        width: 98px;
        height: 290px;
    }
    &:after {
        content: '';
        background-image: url("../../../src/images/banners/baner-dec-left.png");
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 100px;
        width: 193px;
        height: 467px;
    }
}
.main-banner-right
{
    position: relative;
    overflow: hidden;
    &:before {
        position: absolute;
        background-image: url("../../../src/images/banners/banner-right-dec.png");
        width: 378px;
        height: 378px;
        content: '';
        right: 0;
        z-index: -1;
    }

}
.main-banner-left{
    &:after {
        position: absolute;
        background-image: url("../../../src/images/banners/banner-left-dec.png");
        width: 214px;
        height: 429px;
        content: '';
        left: 0;
        bottom: -240px;
        z-index: -1;
    }
}
.blue{
    color: $blue; 
    &-bg{
        background-color: $blue; 
    }
} 
.pink{
    color: $pink ; 
    &-bg{
        background-color: $pink; 
    }
} 
.pink-violet{
    color: $pink-1 ; 
    &-bg{
        background-color: $pink-1; 
    }
} 
.orange{
    color: $orange; 
    &-bg{
        background-color: $orange; 
    }
} 
.yellow{
    color: $yellow; 
    &-bg{
        background-color: $yellow; 
    }
} 
.gradiant-pink{
    color: $gradiant-pink; 
    &-bg{
        background: $gradiant-pink;
    }
}