table{
    &.primary-table{
        width: 100%;
        th,td{
            font-family: $font-family-base;
            color: $color-black;
            font-weight: $regular;
            font-size: $font-size-small-12;
            line-height:$line-height-small-16;
            @include media-breakpoint-up(md) {
                font-size: $font-size-default-18 ;
                line-height: $line-height-default-25 ;
                padding:10px 0;
            }
        }
        tr{
            border-bottom: 1px solid $gray-111;
        }
        thead{
            th{
                color: $color-black;
                font-weight: $bold;
            }
        }
        tbody{
            th{
                font-weight: $semi-bold;
            }
        }
    }
}