/* ------------------------------------
TEXTS
------------------------------------ */
p , .text {
    // 14/25 / 400 /12/22
    color: $gray-4a;
    font-family: $font-family-source;
    text-transform: capitalize;
    font-weight: $regular;
    font-size:  $font-size-small-mobile-12;
    line-height:  $line-height-default-mobile-22;
    @include media-breakpoint-up(md) {
        font-size:  $font-size-small-14;
        line-height: $line-height-default-25;
    }
}
span{
    color:  $pink-1;
}
.subline{
    text-transform: uppercase;
    color: $gray-7a;
     font-weight:  $semi-bold;
      // 13/20/ 600   10/14
     font-size:    $font-size-small-mobile-10;
     line-height:  $line-height-small-mobile-14;
     @include media-breakpoint-up(md) {
        font-size:    $font-size-small-13;
        line-height:  $line-height-default-20;
     }
}
.headline{
    text-transform: capitalize;
    color: $gray-111;
    font-weight: $bold;
      //  28/40/700 & 18/24
      font-size:$font-size-default-mobile-18;
      line-height:$line-height-medium-mobile-24;
      @include media-breakpoint-up(md) {
          font-size: $font-size-medium-28;
          line-height: $line-height-medium-40;
      }
} 
.headlineBig{
      //64/74/700 &   32/40
      font-size: $font-size-large-mobile-32;
      line-height: $line-height-large-mobile-40;
      @include media-breakpoint-up(md) {
          font-size:  $font-size-large-64 ;
          line-height: $line-height-large-74;
      }
}
.line-headline {
    background-color: $pink-1 ;
    width: 50px;
    height: 2px;
    &.center{
        margin: 0 auto;
        text-align: center;
        justify-content: center;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    &.center {
        text-align: center;
        .line-headline{
            margin: 0 auto;
        }
    }
} 

