/* ------------------------------------
TEXTS
------------------------------------ */
p{
    // 15 /30/300 14/20
    font-family: $font-family-source;
    text-transform: capitalize;
    font-weight: $font-weight-light;
    font-size:  $font-size-default-mobile-0;
    line-height:  $line-height-default-mobile-0;
    color: $gray-dark;
    @include media-breakpoint-up(lg) {
        font-size:  $font-size-default-0;
        line-height: $line-height-default-0;
    }
}
span{
    color:  $blue;
}
.big-title{
        //100/100    45/56
        font-size: $font-size-large-mobile-4;
        line-height: $line-height-large-mobile-4;
        @include media-breakpoint-up(md) {
            font-size:  $font-size-large-4 ;
            line-height: $line-height-large-4;
        }
}
.h4{
    //  35/42/700   17/26
    font-size:$font-size-medium-mobile-0;
    line-height:$line-height-medium-mobile-0;
    @include media-breakpoint-up(md) {
        font-size: $font-size-medium-0;
        line-height: $line-height-medium-0;
    }

}
.subheadline  {
    //20 / 30 / 700 & 14/20
    color: $blue; 
    font-weight: $font-weight-bold;
    font-size:  $font-size-default-mobile-0;
    line-height:  $line-height-default-mobile-0;
     @include media-breakpoint-up(md) {
         font-size: $font-size-medium-3;
         line-height:  $line-height-default-0;
     }
    
}    

.line-dec {
    margin: 10px 0 0;
    width: 50px;
    height: 2px;
    background-color: $blue ;

    @include media-breakpoint-up(md) {
        margin: 25px 0 0;
    }
}

.headline {
    margin: 0 0 20px;
    @include media-breakpoint-up(md) {
        margin: 0 0 25px;
    }
    &.center {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        div {
            text-align: center;
        }
        &.headline {
            text-align: center;
            margin: 0 auto 20px;
            @include media-breakpoint-up(md) {
                margin: 0 auto 40px;
            }
        }
        .line-dec {
            margin: 10px auto 0;

            @include media-breakpoint-up(md) {
                margin: 25px auto 0;
            }
        }
    }
}

.blue{
    color: $blue; 
}  
